@font-face {
  font-family: FuturaL;
  src: url('fonts/FuturaFuturisLightC.woff') format("woff"),
       url('fonts/FuturaFuturisLightC.woff2') format("woff2");
}

@font-face {
  font-family: FuturaPTD;
  src: url('fonts/FuturaPTDemi.woff') format("woff"),
       url('fonts/FuturaPTDemi.woff2') format("woff2");
}

@font-face {
  font-family: GothaB;
  src: url('fonts/GothaProBol.woff') format("woff"),
       url('fonts/GothaProBol.woff2') format("woff2");
}

@font-face {
  font-family: GothaR;
  src: url('fonts/GothaProReg.woff') format("woff"),
       url('fonts/GothaProReg.woff2') format("woff2");
}

@font-face {
  font-family: GothaM;
  src: url('fonts/GothaProMed.woff') format("woff"),
       url('fonts/GothaProMed.woff2') format("woff2");
}

@font-face {
  font-family: SansR;
  src: url('fonts/PTSans-Web-Regular.woff') format("woff"),
       url('fonts/PTSans-Web-Regular.woff2') format("woff2");
}

@font-face {
  font-family: SansB;
  src: url('fonts/PTSans-Web-Bold.woff') format("woff"),
       url('fonts/PTSans-Web-Bold.woff2') format("woff2");
}

@font-face {
  font-family: OpenB;
  src: url('fonts/OpenSans-Bold.woff') format("woff"),
       url('fonts/OpenSans-Bold.woff2') format("woff2");
}

@font-face {
  font-family: OpenEB;
  src: url('fonts/OpenSans-ExtraBold.woff') format("woff"),
       url('fonts/OpenSans-ExtraBold.woff2') format("woff2");
}

@font-face {
  font-family: OpenL;
  src: url('fonts/OpenSans-Light.woff') format("woff"),
       url('fonts/OpenSans-Light.woff2') format("woff2");
}

@font-face {
  font-family: OpenR;
  src: url('fonts/OpenSans-Regular.woff') format("woff"),
       url('fonts/OpenSans-Regular.woff2') format("woff2");
}

@font-face {
  font-family: OpenSM;
  src: url('fonts/OpenSans-SemiBold.woff') format("woff"),
       url('fonts/OpenSans-SemiBold.woff2') format("woff2");
}
